.Welcome {
    background-color: #415FFF;
    padding: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-content: center;
    place-items: center;
    color: white;
}

.wLogin{
    border-radius: 20vw 0vw 0vw 20vw;
}

.wRegister{
    border-radius: 0vw 20vw 20vw 0vw;
}

.Welcome h1, .Welcome p1 {
    margin-bottom: 0px;
}

.Welcome p1 {
    margin-bottom: 50px;
}

.Welcome button {
    background-color: #415FFF;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: 100px;
    height: 25px;
}

.Welcome button:hover {
    background-color: #439600;
}